header p {
    padding-bottom: 1em;
    color: #021859;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}

input[type=number] {
    width: 80px;
}

td input, td select {
    font-size: 15px;
    width: 95%;
    text-align: center;
    text-align-last: center
}

#seqnum {
    width: 40px;
}

.general-parameters-section {
    padding: 1em;
    min-width: 50em;
    background-color: #f6f6f6;
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
    border-radius: 5px;
}

.parameters {
    padding-bottom: 1em;
    display: flex;
}

.row1 {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-width: 0px;
    border-color: black;
    border-style: solid;
}

.row1 input /*, datalist, option*/ {
    margin: 2px;
    font-size: 15px;
    width: 10em;
    text-align: center;
}

#mode, #dopant {
    margin: 2px;
    font-size: 15px;
    width: 5em;
    text-align: center;
}

#inputAsLabel, #error {
    border: none;
    border-color: transparent;
    background-color: transparent;
    width: 3em;
    text-align: center;
}

#error {
    font-size: 15px;
    color: red;
    width: 100%;
    resize: none;
}

.row1 .growers {
    padding-left: 5px;
    font-size: 15px;
    width: 20em;
    text-align: left;
}

.unstyled::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.unstyled::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.commentSection {
}

.comments {
    font-size: 15px;
    padding: 0.5em;
    width: 100%;
    height: 10em;
    text-align: left;
    resize: none;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}


th {
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #bbbbbb;
    border: 1px solid #000000;
}

td {
    padding: 2px;
    border: 1px solid #888888;
}

table {
    table-layout: fixed;
    border-spacing: 0px;
    margin-top: 0em;
}


.content1 {
    display: inline-block;
    width: auto;
    border-width: 0px;
    border-color: pink;
    border-style: solid;
}

.table-caption {
    text-align: center;
    padding: 1em;
    background-color: #cccccc;
    border: 1px solid #000000;
}

#buttonsCells {
    border-width: 0px;
}

.submit {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#addLayerButton, #openButton {
    width: 2em;
    height: 1.5em;
    margin: 2px;
    float: left;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid rgba(110, 121, 128, .8);
    border-top-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
    background: rgb(206, 220, 231);
}

#addLayerButton:hover, #openButton:hover {
    color: white;
    background: rgb(70, 70, 120); /* Цвет кнопки при наведении курсора */
}

#addLayerButton:active, #openButton:active {
    color: #fff;
    background: rgb(50, 50, 80); /* Цвет кнопки при нажатии */
}

#openButton {
    width: 8em;
    border-radius: 1px;
}

#search-form, #new-heterostructure {
    float: left;
    padding: 10px 10px 10px 70px;
}

.name, .user-password, .email, .user-role {
    width: 15em;
    float: left;
    font-size: 16px;
    padding: 0.5em;
}

.end-div {
    clear: both;
    border-width: 0px;
    border-color: black;
    border-style: solid;
}

.scrolled {
    overflow: scroll;
}

.main-window-table {
    display: inline-block;
    height: 30em;
    overflow-y: scroll;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
}

.tableHead {
    position: sticky;
    top: 0;
    width: auto;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
}

tr.active {
    background-color: lightgoldenrodyellow;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tables {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.passwordOrEmail {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.pw {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    align-items:center;
}




